<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  </head>
  <body>
    
    <div class="sidebar-style">
      Section 1
    </div>

    <div class="container-fluid">

        <div class="row">

          <div class="col-lg-10" style="padding:1vh;">

            <div class="" style="background-color: #ebebeb; width:100%; height:20vh;">
              Section 2
            </div>

            <div class="" style="background-color: #ebebeb; width:100%; height:77vh;margin-top:1vh;">
              Section 3
            </div>
          </div>

          <div class="col-lg-2 rightbar-style">
            Section 4
          </div>

        </div>

      </div>

  </body>
</html>
